* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* Header Nav */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4e280e;
  position: relative;
}
.aLogo img {
  width: 7rem;
  height: 6rem;
}
ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style-type: none;
  margin-right: 3rem;
}
ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: #f3753e;
}
.btnContact {
  margin-right: 3rem;
  font-size: 2rem;
  padding: 0.5rem 0.6rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #f3753e;
  cursor: pointer;
}
.menu-icon {
  height: 50px;
  width: 50px;
  position: relative;
  left: 50%;
}
.menu-icon span {
  height: 5px;
  width: 100%;

  border-radius: 25px;
  position: absolute;
  background-color: #ffffff;
  top: 50%;
}
.menu-icon span:nth-child(1) {
  top: 25%;
}
.menu-icon span:nth-child(3) {
  top: 75%;
}
/* End of Header Nav */

/* Start of Hero Section */
.mainContainer {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
  background-color: #8a532f;
}
.imgMain {
  width: 50%;
}
.textMain {
  width: 50%;
}
.imgMain img {
  height: 47vw;
  width: 45vw;
  margin-top: 10%;
}
.textMain img {
  margin-top: 5%;
  height: 10vw;
  width: 10vw;
}
.whopper {
  font-size: 8vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
.serving,
.realness {
  font-size: 6vw;
}
.flame,
.grilled {
  font-size: 4vw;
  font-weight: 300;
}
.mainButton {
  padding: 1vw 2vw;
  font-size: 2vw;
  color: white;
  background-color: #f88332;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 15px;
}
.mainButton:hover,
.mainButton:focus {
  background-color: rgb(252, 100, 30);
}
/* End of Hero Section */

/* Start of Features Section */
.featured {
  font-size: 5vw;
  text-align: center;
  margin: 20px 0;
}
.cardArea {
  display: flex;
  justify-content: space-evenly;
}
.card {
  box-shadow: 3px 7px 5px 5px rgb(148, 146, 146);
  width: 23%;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.1, 1.1);
}
.card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
}
.imgmenu {
  height: 23vw;
  width: 96%;
  margin: 2% 2%;
}
.card-title {
  font-size: 1.9vw;
  text-align: center;
}
.btnbuy {
  border: none;
  font-size: 1.5vw;
  font-weight: bold;
  width: 8vw;
  height: 2.5vw;
  background-color: #f3753e;
  margin: 20px auto;
}
.btnmore {
  text-align: right;
  margin: 20px 20px;
}
.btnmoremenu {
  padding: 1vw 2vw;
  font-size: 1.5vw;
  color: white;
  background-color: #f88332;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

/* End of Features Section */

/* Mobile Device */
@media screen and (max-width: 481px) {
  /* Start of NavBar  */
  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    transform: translateX(-200%);
    transition: transform 0.3s ease;
    flex-direction: column;
    text-align: center;
    background-color: #3c3e3f;
    overflow: hidden;
  }

  nav ul li {
    padding: 20px;
    padding-top: 5px;
    margin: 0;
  }
  .btnContact {
    background-color: #f88332;
    border-radius: 5px;
    margin: 0 auto 20px;
  }
  .navul.open {
    transform: translateX(0);
  }

  li a:hover,
  li a:focus {
    background-color: rgb(63, 61, 59);
    text-decoration: underline;
    color: #f57e1c;
  }
  button:hover {
    color: #ffffff;
    background-color: #f34b03;
  }
  /* end of NavBar */

  /* Start of Features Section */

  .cardArea {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .card {
    width: 80%;
    overflow: hidden;
  }
  .card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
  }
  .imgmenu {
    height: 200px;
    width: 80%;
    margin: 2% 10%;
  }
  .card-title {
    font-size: 5vw;
    text-align: center;
  }
  .btnbuy {
    border: none;
    font-size: 2.5vw;
    font-weight: bold;
    width: 15vw;
    height: 4vw;
    background-color: #f3753e;
    margin: 15px auto;
  }
  .btnmore {
    margin: 20px 50px;
  }
  .btnmoremenu {
    font-size: 1rem;
  }

  /* End of Features Section */
}
/* End of Mobile Device */

/* ipads, tables */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Start of NavBar  */
  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    transform: translateX(-200%);
    transition: transform 0.3s ease;
    flex-direction: column;
    text-align: center;
    background-color: #3c3e3f;
    overflow: hidden;
  }

  nav ul li {
    padding: 20px;
    padding-top: 5px;
    margin: 0;
  }
  .btnContact {
    background-color: #f88332;
    border-radius: 5px;
    margin: 0 auto 20px;
  }
  .navul.open {
    transform: translateX(0);
  }

  li a:hover,
  li a:focus {
    background-color: rgb(63, 61, 59);
    text-decoration: underline;
    color: #f57e1c;
  }
  button:hover {
    color: #ffffff;
    background-color: #f34b03;
  }
  /* End of NavBar */

  /* Start of Features Section */

  .cardArea {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .card {
    width: 42%;
    overflow: hidden;
  }
  .card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
  }
  .card-title {
    font-size: 3vw;
    text-align: center;
  }
  .btnbuy {
    border: none;
    font-size: 2.5vw;
    font-weight: bold;
    width: 15vw;
    height: 4vw;
    background-color: #f3753e;
    margin: 20px auto;
  }
  .btnmore {
    margin: 20px 20px;
  }
  .btnmoremenu {
    font-size: 1rem;
  }

  /* End of Features Section */
}
/* End of ipads, tables */

/*  Small Screen, laptop*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-icon {
    display: none;
  }
}
/*  End of Small Screen, laptop*/

/*  Desktop, Large Screen*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .menu-icon {
    display: none;
  }
}
/*  End of Desktop, Large Screen*/

/*  Extra large screen, TV*/
@media screen and (min-width: 1201px) {
  .menu-icon {
    display: none;
  }
}
/*  End of Extra large screen, TV*/
